@media(max-width: 880px) {
    .barra-pesquisa, .sugestoes, hr {
        display: none;
    }

    .icone-busca {
        left: 65px;
    }

    .nav-input {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-input ul {
        gap: 10px;
    }

    .nav-input li span {
        display: none;
    }

    .informacoes-perfil {
        width: 96vw;
        height: auto;
    }

    .imagem-fundo img {
        width: 100%;
        object-fit: cover;  
    }

    .detalhe-perfil {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 10px;
        /* Espaçamento entre as linhas */
        margin-left: 30px;
    }

    .detalhes-carreira {
        display: flex;
        justify-content:space-around;
        align-items: center;
        width: 400px;
        margin-left: -30px;
        padding-bottom: 8px;
    }

}